hello#if(${parentId})(${parentObjectName},${parentId})#end
// postman
{
#foreach ($col in $cols)  
  "$col.varName":#if (${col.mongoType}== 'String')"test1"#end
#if (${col.mongoType}== 'Number')1#end
#if (${col.mongoType}== 'Boolean')true#end
#if (${col.mongoType}== 'Date')"1/1/2018"#end,
#end}

#foreach ($col in $cols)
  <field name="$col.varName" #if (${col.mongoType}== 'String')class="java.lang.String"/>#end#if (${col.mongoType}== 'Number')class="java.lang.Double"/>#end#if (${col.mongoType}== 'Date')class="java.util.Date"/>#end

#end

cd gen1
//set target path
export TGT=/front/src/app/views
mkdir -p $TGT/${lowerName}s/${lowerName}s-detail
mkdir $TGT/${lowerName}s/${lowerName}s-grid
cd views
cp ${lowerName}s-routing.module.ts $TGT/${lowerName}s
cp ${lowerName}s.* $TGT/${lowerName}s
cp ${lowerName}s-detail.component.* $TGT/${lowerName}s/${lowerName}s-detail
cp ${lowerName}s-grid.component.* $TGT/${lowerName}s/${lowerName}s-grid

const ${lowerName}Controller = require("../controllers/${lowerName}.controller");

app.route("/api/v1/${lowerName}s")
  .get(${lowerName}Controller.get${className}s)
  .post(${lowerName}Controller.create)
  .put(${lowerName}Controller.update1);

app.route("/api/v1/${lowerName}s/:${lowerName}Id")
  .get(${lowerName}Controller.get${className}ById)  
  .delete(${lowerName}Controller.delete);   

