// postman
{
#foreach ($col in $cols)  
  "$col.varName":#if (${col.mongoType}== 'String')"test1"#end
#if (${col.mongoType}== 'Number')1#end
#if (${col.mongoType}== 'Boolean')true#end
#if (${col.mongoType}== 'Date')"1/1/2018"#end,
   "company": "0"
#end}

// backend/routes/user.routes.js
const ${objectName}Controller = require("../controllers/${lowerName}.controller");

app.route("/api/v1/${lowerName}s")
  .get(${objectName}Controller.get${className}s)
  .post(${objectName}Controller.create)
  .put(${objectName}Controller.update1);

app.route("/api/v1/${lowerName}s/:${lowerName}Id")
  .get(${objectName}Controller.get${className}ById)  
  .delete(${objectName}Controller.delete);   

app.route("/api/v1/${lowerName}sByParentId/:parentId")
  .get(${objectName}Controller.get${className}ByParentId);  

// front/src/app/app.routing.ts
  {
    path: '${lowerName}s',
    loadChildren: './views/${lowerName}s/${lowerName}s.module__${className}sModule',
    canActivate: [IsRolePresentGuardService],
    data: {
        roles: ['ADMIN', 'SUPER ADMIN']
    },
  },

// front/src/app/_nav.ts
// children

  {
    name: '${className}s',
    url: '/${lowerName}s',
    icon: 'icon-user',
    roles: ['ADMIN', 'SUPER ADMIN']
  },