hello#if(${parentId})(${parentObjectName},${parentId})#end
// postman
{
#foreach ($col in $cols)  
  "$col.varName":#if (${col.mongoType}== 'String')"test1"#end
#if (${col.mongoType}== 'Number')1#end
#if (${col.mongoType}== 'Boolean')true#end
#if (${col.mongoType}== 'Date')"1/1/2018"#end,
#end}

#foreach ($col in $cols)
  <field name="$col.varName" #if (${col.mongoType}== 'String')class="java.lang.String"/>#end#if (${col.mongoType}== 'Number')class="java.lang.Double"/>#end#if (${col.mongoType}== 'Date')class="java.util.Date"/>#end

#end

cd gen1
//set target path
export TGT=/front/src/app/views
mkdir -p $TGT/${objectName}s/${objectName}s-detail
mkdir $TGT/${objectName}s/${objectName}s-grid
cd views
cp ${objectName}s-routing.module.ts $TGT/${objectName}s
cp ${objectName}s.* $TGT/${objectName}s
cp ${objectName}s-detail.component.* $TGT/${objectName}s/${objectName}s-detail
cp ${objectName}s-grid.component.* $TGT/${objectName}s/${objectName}s-grid

const ${objectName}Controller = require("../controllers/${objectName}.controller");

app.route("/api/v1/${objectName}s")
  .get(${objectName}Controller.get${className}s)
  .post(${objectName}Controller.create)
  .put(${objectName}Controller.update1);

app.route("/api/v1/${objectName}s/:${objectName}Id")
  .get(${objectName}Controller.get${className}ById)  
  .delete(${objectName}Controller.delete);   

