<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <app-page-header
          [viewDetailBtnName]="viewDetailBtnName"
          (viewDetail)="toggleHeader()"
          (refresh)="refresh()">
      </app-page-header>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" (click)="toggleHeader()">
          <i class="fa fa-align-justify"></i>${className}s
        </div>
        <tabset #tabset [hidden]="!showDetails">
          <tab id="${lowerName}"
            heading="${readName}"
            (select)="selectTab($event)">
            <div class="card-body">
              <app-${lowerName}s-detail></app-${lowerName}s-detail>
            </div>
          </tab>
          <!--tab
            id="child objectName"
            heading="child readName"
            [disabled]="!is${className}Selected()"
            (select)="selectTab($event)">
            <div class="card-body">
              <app-route-point-detail 
                [parent]="selected${className}}">
            </app-route-point-detail>
            </div>
          </tab-->
        </tabset>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div [hidden]="!isTabActive('${lowerName}')">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>View ${className}
          </div>
          <div class="card-body">
            <div>
              <app-${lowerName}s-grid></app-${lowerName}s-grid>
            </div>
          </div>
        </div>
<!--div [hidden]="!isTabActive('child objectName')">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>View Movements
          </div>
          <div class="card-body">
            <div>
              <app-movements-grid  
                [selectedParent]="selected${className}}">
              </app-movements-grid>
            </div>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>
