<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <button (click)="toggleHeader()" style="float: right;margin-bottom: 5px;">
        <i class="fa fa-plus"></i>
        ${className}
      </button>
      <button (click)="refresh()" style="float: right;margin-bottom: 5px;margin-right: 5px;">
        Refresh
      </button>
    </div>
    <div class="col-sm-12" [hidden]="!_addMode">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>${className}s
        </div>

        <div class="card-body">
          <form [formGroup]="_${objectName}Form" class="form-horizontal">
          <div class="title-wrapper row form-group" [hidden]="notifications['header'] === ''">            
            <div class="col-sm-6 col-xs-12">
              <div class="alert alert-{{_alertType}}" role="alert">
                {{notifications['header']}}
              </div>
            </div>
          </div>          
          <div class="form-group row">
#foreach ($col in $cols)            
#if ($col.index == 0)
            <div class="col-md-5">
#elseif ($col.index == 6)
            </div>
            <div class="col-md-5">
#end              
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="${col.varName}">${col.methodName}:</label>
              <div class="col-md-9">
#if($col.fk)
                <select class="form-control" formControlName="$col.varName" [compareWith]="compareRole">
                  <option *ngFor="let _$col.varName of _${col.varName}s" value="{{_$col.varName._id}}">{{_$col.varName?.$col.fkName}}</option>
                </select>
#elseif (${col.mongoType}== 'Date')
             <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                <input type="text" [owlDateTime]="dt${col.varName}" [owlDateTimeTrigger]="dt${col.varName}" formControlName="${col.varName}" class="form-control" placeholder="Enter DateTime..">
                <owl-date-time #dt${col.varName}></owl-date-time>
#elseif (${col.mongoType}== 'Boolean')                  
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" formControlName="$col.varName" checked>
                      <span class="switch-slider"></span>
                    </label>
#else
                <input type="text" formControlName="${col.varName}" class="form-control" placeholder="Enter ${col.methodName}..">
#end
                <div class="form-control-feedback" *ngIf="_${objectName}Form.controls.${col.varName}.errors && (_${objectName}Form.controls.${col.varName}.dirty || _${objectName}Form.controls.${col.varName}.touched)">
                  <p class="error-msg" *ngIf="_${objectName}Form.controls.${col.varName}.errors.required">Please enter ${col.title}</p>
                </div>
              </div>
#if (${col.mongoType}== 'Date')
            </div>
#end
            </div>
#end
            <div class="row" style="float:right;margin-bottom: 20px;">
              <button [disabled]="_editMode" style="margin: 0 3px;" type="submit" class="btn btn-small btn-primary" (click)="save()">
                <i class="fa fa-save" style="padding-right: 5px;"></i>Save
              </button>
              <button [disabled]="!_editMode" style="margin: 0 3px;" type="submit" class="btn btn-small btn-primary" (click)="update1()">
                <i class="fa fa-pencil" style="padding-right: 5px;"></i>Update
              </button>
              <button [disabled]="!_editMode" style="margin: 0 3px;" type="button" class="btn btn-small btn-primary" (click)="delete()">
                <i class="fa fa-trash" style="padding-right: 5px;"></i>Delete
              </button>              
            </div>
          </div>
        </div>          
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>View ${className}
        </div>
        <div class="card-body">
          <div>
            <table class="table table-striped">
              <thead>
                <tr>
#foreach ($col in $cols)                           
                  <th>${col.methodName}</th>
#end                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ${objectName} of ${objectName}s" [ngClass]="{'selected-tr': ${objectName}?._id === _selected${className}?._id}" (click)="select${className}(${objectName})">
#foreach ($col in $cols)
    #if($col.fk)
                  <td>{{$objectName.$col.varName.$col.fkName}}</td>
    #else
                  <td>{{${objectName}.${col.varName}}}</td>
    #end
#end                  
                </tr>
              </tbody>
            </table>
          
            <div class="row">
              <div class="col-sm-12" *ngIf="_pages > 0">
                <ul class="pagination justify-content-center">
                  <li *ngIf="_currentPage == 1" class="page-item disabled">
                    <a disabled class="page-link">Prev</a>
                  </li>
                  <li *ngIf="_currentPage > 1 && _currentPage <= _pages" class="page-item">
                    <a disabled class="page-link" (click)="prevPage()">Prev</a>
                  </li>
          
                  <li [ngClass]="{'active': pageNum == _currentPage}" class="page-item" (click)="getPage(pageNum)" *ngFor="let pageNum of getPagesAsArray()">
                    <a class="page-link">{{pageNum}}</a>
                  </li>
          
                  <li *ngIf="_currentPage == _pages" class="page-item disabled">
                    <a disabled class="page-link">Next</a>
                  </li>
                  <li *ngIf="_currentPage >= 1 && _currentPage < _pages" (click)="nextPage()">
                    <a class="page-link">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
