<form [formGroup]="detailForm" class="form-horizontal">
    <app-alert-message></app-alert-message>     
    <div class="form-group row">
#foreach ($col in $cols)            
#if ($col.index == 0)
      <div class="col-md-5">
#elseif ($col.index == 6)
      </div>
      <div class="col-md-5">
#end              
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="${col.varName}">${col.title}:</label>
          <div class="col-md-9">
#if($col.fk)
            <select class="form-control" formControlName="$col.varName" [compareWith]="compareRole">
              <option *ngFor="let _$col.varName of ${col.varName}s" value="{{_$col.varName._id}}">{{_$col.varName?.$col.fkName}}</option>
            </select>
#elseif (${col.mongoType}== 'Date')
             <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                <input type="text" [owlDateTime]="dt${col.varName}" [owlDateTimeTrigger]="dt${col.varName}" formControlName="${col.varName}" class="form-control" placeholder="Enter DateTime..">
                <owl-date-time #dt${col.varName}></owl-date-time>
#elseif (${col.mongoType}== 'Boolean')                  
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" formControlName="$col.varName" checked>
                  <span class="switch-slider"></span>
                </label>
#else
                <input type="text" formControlName="${col.varName}" class="form-control" placeholder="Enter ${col.methodName}..">
#end
                <div class="form-control-feedback" *ngIf="detailForm.controls.${col.varName}.errors && (detailForm.controls.${col.varName}.dirty || detailForm.controls.${col.varName}.touched)">
                  <p class="error-msg" *ngIf="detailForm.controls.${col.varName}.errors.required">Please enter ${col.title}</p>
                </div>
              </div>
#if (${col.mongoType}== 'Date')
            </div>
#end
            </div>
#end
            <div class="row" style="float:right;margin-bottom: 20px;">
              <button [disabled]="editMode" style="margin: 0 3px;" type="submit" class="btn btn-small btn-primary" 
		 (click)="onSave()">
                <i class="fa fa-save" style="padding-right: 5px;"></i>Save
              </button>
              <button [disabled]="!editMode" style="margin: 0 3px;" type="submit" class="btn btn-small btn-primary" 
		(click)="onUpdate()">
                <i class="fa fa-pencil" style="padding-right: 5px;"></i>Update
              </button>
              <button [disabled]="!editMode" style="margin: 0 3px;" type="button" class="btn btn-small btn-primary" 
		(click)="onDelete()">
                <i class="fa fa-trash" style="padding-right: 5px;"></i>Delete
              </button>              
            </div>
          </div>
        </div>          
</form>
 
