#foreach ($col in $fkcols)
import { $col.fkMethodName } from './$col.fkVarName';
#end

export class ${className} {
    _id: string;
#foreach ($col in $cols)
#if($col.fk)
    ${col.varName}: ${col.fkMethodName};
#else
    ${col.varName}: string;
#end
#end       
}