const mongoose = require("mongoose");
const bcrypt = require("bcrypt");

// TODO: Need to add all model validations
const ${className}Schema = new mongoose.Schema({
#foreach ($col in $cols)
  $col.varName: {
    #if (${col.fk})
    type: mongoose.Schema.Types.ObjectId, 
      ref: "${col.fkMethodName}",
      default: null    
    #else 
    type: ${col.mongoType},
    required: true#if (${col.mongoType}== 'String'),
    trim: true#end#end
    #if (${col.mongoType}== 'Date'),
    default: new Date()#end    
  },
#end
});

// pre save method                                                                                                                                                                   
${className}Schema.pre('save', function (next) {
  // do things
  next();
});

module.exports = mongoose.model('${className}', ${className}Schema);